bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
RecipeBook.API/appsettings.json
RecipeBook.API/appsettings.Development.json
RecipeBook.API/Properties/launchSettings.json
ClientApp/appsettings.json
ClientApp/appsettings.Development.json
ClientApp/Properties/launchSettings.json